{% extends "_layout" %}

{# ============================================================================ #}

{% block bodyClass %}{{ entry.slug }} {{ entry.section.handle }}-entry{% endblock %}

{% block pageTitle %}
	<h1>{{ entry.title }}</h1>
{% endblock %}

{% block content %}
	<div class="article-section">
		<div class="in">
			{% if entry.body|length %}
				{{ entry.body }}
			{% endif %}
		</div>
	</div>
{% endblock %}
