{% extends "_layout" %}

{% block pageTitle %}
	<h1>Page Not Found</h1>
{% endblock %}

{% block content %}
	{% block itemContent %}
		<div class="article-section">
			<div class="in">
				<p class="status-message">Sorry, we couldn’t find the page you asked for.</p>
			</div>
		</div>
	{% endblock %}
{% endblock %}
