{% extends "_layout" %}

{% block pageTitle %}
	<h1>Site Unavailable</h1>
{% endblock %}

{% block content %}
	{% block itemContent %}
		<div class="article-section">
			<div class="in">
				<p class="status-message">Sorry, the website is currently unavailable.</p>
			</div>
		</div>
	{% endblock %}
{% endblock %}
